[Unit]
Description=Enables system tray extension
After=graphical-session.target

[Service]
ExecStart=sh -c 'gnome-extensions enable appindicatorsupport@rgcjonas.gmail.com'
Type=oneshot

[Install]
WantedBy=graphical-session.target
